.container-big{
    padding: 30px ;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    font-size: 18 ;
}
.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}